<%= render 'header' %>
<div class="search-box <%= @channel.id %>">
	<a href="/"><%= image_tag( 'logos/europeana-e-100.png', :alt => 'Europeana - think culture' ) %> <%= @channel.id %></a>
  <%= render_search_bar  %>
</div>
<%= render 'footer' %>