<div class="hero channel-<%= @channel.id %>">
	<div class="search-box-show <%= @channel.id %>">
		<a href="/"><%= image_tag( 'logos/europeana-100.png', :alt => 'Europeana - think culture' ) %> <span class="channel-id"><%= @channel.id %></span></a>
		<%= render_search_bar  %>
	</div>
</div>

<h2>index for all channels except for home</h2>
<p>generic index page for each channel. needs to be branded accordingly using the channel.id</p>